name: Build

on:
  pull_request: {}
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: p6m7g8-actions/checkout@main

      - name: Build
        uses: ./
        with:
          gh_token: ${{ secrets.GITHUB_TOKEN }}
